    <br>
    <h1>
        <a href="/" class="title" style="text-decoration: none;">Express GuestBook</a>
        <a href="../new-entry" class="btn btn-primary float-end">Write a GuestBook</a>
    </h1>
    <hr>